<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Lesson</th>
      <th>Statement</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.lesson %></td>
        <td><%= question.statement %></td>
        <td><%= question.a %></td>
        <td><%= question.b %></td>
        <td><%= question.c %></td>
        <td><%= question.d %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
