<p id="notice"><%= notice %></p>

<h1>Inventario:</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th></th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory.line_items.each do |x| %>
      <tr>
        <td><%= x.Item.name %></td>
        <td><%= image_tag(x.Item.img, class: 'list_image') %></td>
        <td><%= x.Item.price %></td>
        <td><%= link_to 'Vender', x, method: :delete, data: { confirm: 'Tem certeza que deseja vender?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
