<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <fieldset>

      <h2>Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :nome %><br />
        <%= f.text_field :name, :class => 'form-control input-lg', :placeholder => 'nome' %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, :class => 'form-control input-lg', :placeholder => 'email', autofocus: true %>
      </div>

      <div class="form-group">
        <label>Senha</label>
        <%= f.password_field :password, :class => 'form-control input-lg', :placeholder => 'senha', autocomplete: "off" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <br />    
      </div>

      <div class="form-group">
        <label>Confirmar senha</label>
        <%= f.password_field :password_confirmation, :class => 'form-control input-lg', :placeholder => 'confirmar senha', autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.check_box :admin %>
        <label>Administrador ?</label>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => 'form-control input-lg btn-primary', :placeholder => 'email'%>
      </div>
      <% end %>

      <br>
      <%= render "devise/shared/links" %>

    </fieldset>
  </div> 
   <div class="col-md-4"></div>
</div>