<div class="container">
<h1>Area de Administrador</h1>
<div class="row">
<br>
<%= link_to 'Aulas', lessons_url , class: 'btn btn-primary'%>
<%= link_to 'Questões', questions_url, class: 'btn btn-primary'%>
<br>
<br>
<div class="panel panel-default">
<div class="panel-heading">Usuarios</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Acertos</th>
      <th>Erros</th>
      <th>lvl</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <% @chars.each do |character| %>
      <tr>
        <% if user.id == character.User_id %>
        	<td><%= user.name %></td>
       		<td><%= user.email %></td>
        	<td><%= character.correct%></td>
        	<td><%= character.wrong%></td>
        	<td><%= character.level%></td>
        <% end %>
      </tr>
    <% end %> 
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


