<div class="container">
  <div class="row">    
    <div class="col-md-12">       
      <div class="panel">
        <div class="panel-body"> 

          <!--/stories-->
          <h2 class="text-center">Aula <%= @lesson.subject%></h2>

          <div class="row">    
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="<%= "http://www.youtube.com/embed/"+@video %>"></iframe>
            </div>                 
          </div>
          <hr>

          <!--Botão responder-->
          <!--<div class="text-center">
            <div class="btn-group botao">
              <button type="button" class="btn btn-primary btn-lg" id="responder">Responder</button>
            </div>
          </div>
          <hr>-->
          <!--Botão responder-->

          <p>Questões:</p>

          <%= form_tag({ :controller => "quiz", :action => "answer"} ) do |f|%>    
                <!-- Questões-->
              <% @questions.each_with_index do |q, i| %>
                <div class="panel-default">
                  <div class="panel panel-info">
                    <div class="panel-heading"><%= q.statement %></div>
                    <div class="panel-body">
                      <div class="input-group">                   
                        <% @alternativas = [q.a, q.b, q.c, q.d] %>
                        <% @alternativas.shuffle! %>

                        <%= radio_button_tag "answer#{i+1}", @alternativas[0] %><%= @alternativas[0] %><br>
                        <%= radio_button_tag "answer#{i+1}", @alternativas[1] %><%= @alternativas[1] %><br>
                        <%= radio_button_tag "answer#{i+1}", @alternativas[2] %><%= @alternativas[2] %><br>
                        <%= radio_button_tag "answer#{i+1}", @alternativas[3] %><%= @alternativas[3] %><br>
                        <%= hidden_field_tag "statement#{i+1}", q.statement %>

                      
                      </div>                
                    </div>
                  </div>
                </div>
                <!-- Questões-->
          <% end %>   
                 

          <!--Botão pronto-->
          <div class="text-center">
            <div class="btn-group">
              <%= submit_tag "Terminei", class: "btn btn-success btn-lg" %>
              <!--<button type="button" class="btn btn-success btn-lg" id="responder">Terminei</button>-->
            </div>
          </div>
          <% end %>             
          <!--Botão pronto-->

        </div>
      </div>

    </div><!--/col-12-->
  </div>
</div>
