<p id="notice"><%= notice %></p>

<h1>Seu Personagem</h1>

<%if @characters.size >= 1%>


  <% @characters.each do |character| %>
  <h2><%= character.name %></h2>
  <h3>xp: <%= character.xp %></h3>
  <h3>Gold: <%= character.gold %></h3>
  <%= link_to 'Show', character %>
  <%= link_to 'Edit', edit_character_path(character) %>
  <%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %>

<br>

<div id="canvasDiv"></div>
<script type="text/javascript" src="/assets/html5-canvas-game-character-1.js"></script>
<script type="text/javascript">
  prepareCanvas(document.getElementById("canvasDiv"), 490, 220);
  change('hair', "<%= character.hair %>");
  change('torso', "<%= character.shirt %>");
  change('legs', "<%= character.pants %>");
  if("<%= character.skin %>" != "default"){
  change('head', "head_" + "<%= character.skin %>");
  change('leftArm', "leftArm_" + "<%= character.skin %>");
  change('rightArm', "rightArm_" + "<%= character.skin %>");
  }
</script>
 <% end %>
<% else %>
<h2>Voce ainda não tem um personagem</h2>
<%= link_to 'New Character', new_character_path %>
<% end %>