<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @lesson.url %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @lesson.subject %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
