<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Reino do código
          <p class="lead">tads 2014.1</p>
        </h1>
      </div>
      <div class="col-md-5">
      <% if user_signed_in?%>
        <div class="well well-lg"> 
          <div class="row">

            <div class="col-sm-12">
             <% if @character %>
                <p class="lead"><%= current_user.name%></p>              
                <p>Personagem: <%= @character.name %></p>
                <p>Level: <%= @character.level %></p>
                <p>Gold: <%= @character.gold %></p>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%= @character.xp %>%;">
                    <%= @character.xp %>%
                  </div>
                </div>
              <% else %>                
                <div class="alert text-center" role="alert">
                  <h3>Você ainda não tem um personagem</h3>
                </div>
              <% end %>			
            </div>

          </div>
        </div>
        <% end %>  
      </div>
    </div> 
  </div><!-- /cont -->
</div>
